@import "variabless/colors.css";

* {
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-family:system-ui;
    font-weight:200;
    border:none;
}

body {
    height: 100vh;
    background-color: var(--clr-body-bg);
    display: flex;
    justify-content: center;
    align-items: center;
}

#calculator_body {
    width: 250px;
    height:400px;
    background-color: var(--clr-main-bg);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 25px;
    /*transform:rotate(10deg)*/
    box-shadow: 0 0 10px 10px var(--clr-body-bg);
}

#output_text_container {
    display:flex;
    justify-content: flex-end;
    color: var(--clr-text);
    font-size: 50px;
    margin-right: 20px;
    margin-top: 10px;
    align-self: flex-end;
}

#input_keypad {
    display: flex;
    flex-direction: column;
}

.keypadrow {
    display: flex;
    gap: 10px;
    margin: 5px 10px 5px 10px;
}

.button, .grey_button, .orange_button {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-weight: 300;
    padding-bottom: 3px;
    
} 

.button {
    background-color: var(--clr-button-bg-numb);
    color:var(--clr-text);
}

.grey_button {
    background-color: var(--clr-button-bg-top);
}

.orange_button {
    background-color: var(--clr-button-bg-right);
    color: var(--clr-text);
}

.big_button {
    height: 50px;
    width:110px;
    border-radius: 50px;
    background-color: var(--clr-button-bg-numb);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 25px;
    font-weight: 300;
    padding-left:19px;
    color: var(--clr-text);
}

.button:hover, .grey_button:hover, .orange_button:hover,.big_button:hover {
    cursor:pointer;
    box-shadow: 0 0 5px 3px var(--clr-text);
}

.button:active, .grey_button:active, .orange_button:active,.big_button:active{
box-shadow: 0 0 5px 10px var(--clr-text);
}

img {
    width: 25px;
}

#percent_symbol {
    width: 20px;
}

#slider_bar {
    width:33%;
    height: 2px;
    border-bottom: 2px solid var(--clr-text);
    border-radius: 50px;
    margin-top: 25px;
    margin-bottom: 5px;
}

@media (min-width:768px) {

    #calculator_body {
        width: 350px;
        height:560px;
        background-color: var(--clr-main-bg);
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 25px;
        /*transform:rotate(10deg)*/
        box-shadow: 0 0 14px 14px var(--clr-shadow);
    }
    
    #output_text_container {
        display:flex;
        justify-content: flex-end;
        color: var(--clr-text);
        font-size: 70px;
        margin-right: 28px;
        margin-top: 14px;
        align-self: flex-end;
    }

    .keypadrow {
        display: flex;
        gap: 14px;
        margin: 7px 14px 7px 14px;
    }
    
    .button, .grey_button, .orange_button {
        width: 70px;
        height: 70px;
        border-radius: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 35px;
        font-weight: 300;
        padding-bottom: 4.2px;
    } 

    .big_button {
        height: 70px;
        width:154px;
        border-radius: 50px;
        background-color: var(--clr-button-bg-numb);
        display: flex;
        justify-content: flex-start;
        align-items: center;
        font-size: 35px;
        font-weight: 300;
        padding-left:26.6px;
        color: var(--clr-text);
    }
    
    img {
        width: 35px;
    }
    
    #percent_symbol {
        width: 28px;
    }
    
    #slider_bar {
        width:33%;
        height: 2.8px;
        border-bottom: 2.8px solid var(--clr-text);
        border-radius: 50px;
        margin-top: 35px;
        margin-bottom: 7px;
    }
}

