:root {
    --clr-main-bg:black;
    --clr-text:rgb(230, 225, 225);
    --clr-button-bg-numb:rgb(46, 42, 42);
    --clr-button-bg-top:grey;
    --clr-text-top:black;
    --clr-button-bg-right:rgba(255, 166, 0, 0.839);
    --clr-body-bg:blanchedalmond;
}